.container{
	background-color: #f4f5f7;
}
/*头部*/
header{
	width: 1400px;
	height: 100px;
	/*background-color: pink;*/
	margin: 0 auto;
	padding-top: 30px;
}
.logo{
	float: left;
	width: 195px;
	height: 42px;
	margin-right: 6px;
}
.logo a{
	display: block;
	width: 195px;
	height: 42px;
	background: url(../img/ico.png);
	text-indent: -990px;/*隐藏链接里的文字*/
	overflow: hidden;
}
nav{
	float: left;
	padding: 0 20px;
}
nav li{
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #050505;
	padding: 0 10px;
}
nav li:hover{
	border-bottom:2px solid #00a4ff ;
}
header .search{
	width: 410px;
	height: 40px;
	float: left;
	margin-left: 50px;
}
.search input{
	width: 360px;
	height: 40px;
	outline: none;
	float: left;
	border: 2px solid #00a4ff;
}
.search button{
	width: 50px;
	height: 40px;
	border: 0;
	float: left;
	background: url(../img/图层5.png);
}
.personal{
	float: right;
	width: 225px;
	height: 40px;
	line-height: 40px;
}
.personal dl dd{
	float: left;
	padding-left: 17px;
}
.personal dl dt{
	float: left;
	padding-left: 17px;
}
.personal dl a{
	padding: 0 5px;
}
#one{
	position: relative;
}
#one:after{
	content:"";
	display: inline-block;
	width:6px;
	height: 6px;
	position: absolute;
	top: 0;
	right:2px;
	border-radius: 50%;
	background-color: red;
}
/*#one img{
	transition: transform 2s;
}

#one img:hover{
	transform: rotate(180deg);
}*/
/*banner部分*/



.banner{
	height: 420px;
	background-color: #023db1;
}
.inner{
	height: 420px;
	position: relative;
}
.subnav{
	width: 190px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0, .1);
}
.subnav ul{
	padding-top: 20px;
}
.subnav li{
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	font-size: 15px;
	color: #FFFFFF;
}
.subnav a:hover{
	color: #00b4ff;
}
.subnav span{
	position: absolute;
	top: 3px;
	right: 22px;
}
/*我的构思*/
/*.circle{
	position: absolute;
	bottom: 30px;
	left: 507px;
	width:156px;
	height: 12px;
}
.circle li a{
	width: 12px;
	height: 12px;
	float: left;
	margin-left: 14px;
	border-radius: 6px;
	background-color: #FFF
}*/


.circle{
	width: 176px;
	height: 20px;
	/*background-color: #FFFFFF;*/
	position: absolute;
	left: 50%;
	/*margin-left: -88px;*/
	transform: translate(-50%);
	bottom: 15px;
}
.circle i{
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: rgba(255,255,255,0.4);
	border-radius: 6px;
	margin:0 5px;	
	cursor: pointer;
	transition: all 0.5s linear 0s; /*过渡写到本身上，谁做过渡动画，写到谁身上*/
}
.circle i:hover{
	width: 20px;
	background-color: #FFFFFF; 
}


/*右边侧边栏*/
.right{
	width: 230px;
	height: 300px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #FFFFFF;
}
.header{
	height: 48px;
	background-color: #9bceea;
	text-align: center;
	line-height: 48px;
	font-size: 19px;
	color: #FFFFFF;
}
.timebox{
	margin-top: 16px;
}
.excel{
	margin-left: 20px;
	height: 54px;
	margin-bottom: 6px;
	border-bottom: 1px solid #cccccc;
}
.excel:last-child{
	border: 0;
}
.right dl{
	margin-bottom:10px ;
	height: 14px;
	line-height: 14px;
}
.right dd{
	font-size: 12px;
}
.right dt{
	font-size: 14px;
	float: left;
}
.right p{
	font-size: 11px;
}
.footer{
	position: relative;
	height: 40px;
}
.footer p{
	width: 160px;
	height: 36px;
	border: 1px solid #00a4ff;
	text-align: center;
	line-height: 36px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.footer p:hover{
	background-color: #00a4ff;
	color: #FFFFFF;
}


.zhong{
	height: 60px;
	margin-top: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 0 1px #CCCCCC;
	position: relative;
}
.zhong ul{
	height: 60px;
	width: 900px;
	float: left;
	line-height: 60px;
}
.zhong li{
	height: 60px;
	width: auto;
	float: left;
}
.zhong a{
	height: 16px;
	font-size: 14px;
	padding: 0 30px;
	vertical-align: middle;
}
#re{
	font-size: 16px ;
	color: #00a4ff;
}
em{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 32px;
	font-size: 16px;
}
/*精品推荐*/
.recommand{
	/*height:750px;*/
	margin-top: 39px;
}
.recommand .recommandHeader{
	height:40px;
}
.recommand .leftHeader{
	float: left;
	font-size: nomal;
	font-size: 19px;
}
.recommand .rightHeader{
	padding-right: 32px;
	float:right ;
	line-height: 40px;
	font-size: 11px;
}
.content li{
	float: left;
	margin-right: 22px;
	margin-bottom: 15px;
	background: #FFFFFF;
	width: 222px;
	height: 300px;
	overflow: hidden;
	position: relative;
	transition: all 1s; 
}
.content li:hover{
	box-shadow:0 0 10px rgba(0,0,0, .3);
	/*transform: translateY(-10px);*/
	margin-top: -10px;
	padding-top: -10px;
}
.content li:nth-child(5n){
	margin-right: 0;
}
.rec-title{
	width: 185px;
	margin: 14px auto 8px;
	font-size: 14px;
}
.content p{
	width: 185px;
	margin: 20px auto;
}
.content span{
	color: #ff7c2d;
}

.content li img{
	transition: all 3s;
}
.content li img:hover{
	/*transform: scale(1.05);*//*放大*/
	transform: translateX(-10px);移动
}


 /*模拟黑马首页效果*/
/*.content .pic{
	position: absolute;
	z-index: 0;
}
.content p{
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	z-index: 1;
	font-size: 15px;
	white-space: nowrap;
}
.content h3{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	font-size: 20px;
	white-space: nowrap;
}
.content a{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	z-index: 1;
	transition: all 3s; 
}
.content li:nth-child(1) a{
	top: 60%;
}
.content li:nth-child(4) a{
	top: 40%;
}
.content a:hover{
	transform: translateX(-50%) scale(1.2);
}*/

footer{
	height: 350px;
}
.lastfooter{
	padding-top: 30px;
}
.leftfooter{
	float: left;
	padding-left: 20px;
}
.leftfooter p{
	padding-top: 20px;
	font-size: 14px;
	font-weight: normal;
}
.leftfooter a{
	display: block;
	font-size: 18px;
	width: 175px;
	height: 50px;
	border: 2px solid #00a4ff;
	text-align: center;
	line-height: 46px;
	color: #00a4ff;
	margin-top: 15px;
}
.rightfooter{
	float: left;
}
.rightfooter dl{
	float: left;
	margin-left: 130px; ;
}
.rightfooter dt{
	font-size: 14px;
	margin-bottom: 8px;
}
